# ---- Application ----
NODE_ENV=development
PORT=3000
API_PREFIX=api

# ---- PostgreSQL ----
DB_HOST=localhost
DB_PORT=5432
DB_USER=dpscheck
DB_PASSWORD=dpscheck_dev_pwd
DB_NAME=dpscheck
DB_SYNCHRONIZE=false
DB_LOGGING=true

# ---- JWT ----
JWT_SECRET=62304237846234lvhxlchvlsk!235235
JWT_EXPIRES_IN=3600s
